@import url('https://fonts.googleapis.com/css?family=Muli:300|Roboto:300');

/* CSS declarations go here */
body {
  font-family: 'Muli', 'Roboto', sans-serif;
  background-color: #3A1040;
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 15px;
}
 
.container {
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
 
header {
  background: #6D728C;
  padding: 20px 15px 15px 15px;
  position: relative;
}
 
#login-buttons {
  display: block;
}

.main-title h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.0em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
h1, h1 > a {
  color: #F2F2F2!important;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* taken from bootstrap.css */
  float: right;
  color: grey;
}

.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.main-accordion .accordion-toggle:after {
  color:#F2F2F2;
  padding-left: 10px;
  font-size: 1.0em;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
.new-course input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-course input:focus{
  outline: 0;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .show-starred {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}

.no-left-padding {
  padding-left: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}

.top-buffer {
  margin-top: 10px;
}

.table-wrapper {
  overflow-x:auto;
}

@media (max-width: @screen-xs-max) {
  header {
    padding: 0px 0px 0px 0px;
  }
}
