@import url('https://fonts.googleapis.com/css?family=Muli:300|Roboto:300');

/* CSS declarations go here */
body {
  font-family: 'Muli', 'Roboto', sans-serif;
  background-color: #3A1040;
  background-attachment: fixed;
 
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
 
  padding: 0;
  margin: 0;
 
  font-size: 15px;
}
 
.container {
  margin: 0 auto;
  min-height: 100%;
  background: white;
}
 
header {
  background: #6D728C;
  padding: 45px 15px 15px 15px;
  position: relative;
}

@media (max-width: 767px) {
  header {
    padding-top: 75px;
  }
}
 
#login-buttons {
  display: block;
}

.main-title h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.0em;
  font-weight: bold;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}
 
h1, h1 > a {
  color: #F2F2F2!important;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
}

.title-list ul {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

@media (max-width: 767px) {
  .title-list ul {
    margin-top: 5px;
  }
}

.title-list li {
  padding: 5px;
  border: none;
}

.tagline-list ul {
  margin-top: 40px;
  padding: 0;
}

@media (max-width: 767px) {
  .tagline-list ul {
    margin-top: 0;
  }
}

.tagline-list li {
  border: none;
  padding: 2px;
}

.tagline-list h4 {
  margin: 0px;
  color: #D0D0D0;
}

.bottom-line {
  border-bottom: 1px solid #F2F2F2;
  padding-bottom: 10px !important;
  margin: 0px !important;
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* taken from bootstrap.css */
  float: right;
  color: grey;
}

.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.main-accordion .accordion-toggle:after {
  color:#F2F2F2;
  padding-left: 10px;
  font-size: 1.0em;
}
 
form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}
 
.new-course input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}
 
.new-course input:focus{
  outline: 0;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}
 
li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}
 
li .text {
  margin-left: 10px;
}
 
li.checked {
  color: #888;
}
 
li.checked .text {
  text-decoration: line-through;
}
 
li.private {
  background: #eee;
  border-color: #ddd;
}
 
header .show-starred {
  float: right;
}
 
.toggle-private {
  margin-left: 5px;
}

.no-left-padding {
  padding-left: 0 !important;
}

.no-right-padding {
  padding-right: 0 !important;
}

.top-buffer {
  margin-top: 10px;
}

.table-wrapper {
  overflow-x:auto;
}

.header-fixed {
  position: fixed;
  top: 0;
  width: inherit;
  background: rgba(230, 230, 230);
  background: rgba(230, 230, 230, 0.7);
  margin-left: -15px;
}

.header-fixed form {
  margin: 0;
  padding: 5px;
}

.header-fixed ul {
  padding: 0;
}

.header-fixed li {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  border: none;
}

.header-fixed li:last-child {
  padding-top: 15px;
}

@media (max-width: 767px) {
  .header-fixed li:last-child {
    padding-top: 0px;
  }
}

.header-fixed p {
  margin: 0;
}

.center-button {
  text-align: center;
}

.donate-btn form {
  margin-top: 5px;
}

.coursemodal-footer {
  padding: 15px 10px;
}

.coursemodal-footer ul {
  padding: 0;
}

.coursemodal-footer li {
  float: left;
  border: none;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
}

.fit-image {
  max-width: 100%;
  max-height: 100%;
}

.coursemodal-body ul {
  padding-left: 15px;
}

.coursemodal-body li {
  padding: 5px;
}

@media (max-width: 767px) {
  /*
  header {
    padding: 0px 0px 0px 0px;
  }
  */
  .footer-fixed {
    width: 100%;
  }
}

.available-line h1 {
  font-size: 20px;
}

.available-line button, .specific-line button {
  margin-left: 20px;
}

.specific-line {
  background-color: #E6BE8A!important;
}

.close-btn {
  float: right;
}

.daytime-row {
  margin-bottom: 5px;
}

.alert-margin {
  margin-top: 10px;
  margin-bottom: 0px;
}
